#root {
  min-height: 100vh;
  margin: 0 auto;
  padding: 8px;
  /* background-color: rgb(39, 24, 24); */
  /* background-image: url("/public/background.jpeg"); */
  background-size: cover;
}

.App {
  /* height: max-content; */
  margin: auto;
  max-width: 1200px;
  border: 1px;
  box-shadow: 0px 0px 9px 3px rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.languagues-list{
  margin: auto;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
}

textarea{
  width: 100%;
  height: 500px;
}
.translated-text{
  width: 100%;
  border: 1px solid greenyellow;
  padding: 8px;
}