*{
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}

.chart-c .recharts-legend-wrapper {
  bottom: 30% !important;
  max-width: 90% !important;
  margin: 0px auto !important;
}

.row {
  margin: 8px;
  display: flex;
  justify-content: center;
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-around; */
}

.row-s {
  width: fit-content;
  display: flex;
  justify-content: space-between;
}